Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  clang-analyzer-*,
  misc-*

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

FormatStyle: file

CheckOptions:
  - key: modernize-use-trailing-return-type.UseTrailingReturnType
    value: 'true'

  - key: readability-identifier-naming.NamespaceCase
    value: lower_case