Checks: >
  -*,
  modernize-*,
  readability-*,
  performance-*,
  bugprone-*

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

FormatStyle: file

CheckOptions:
  - key: modernize-use-trailing-return-type.UseTrailingReturnType
    value: 'true'
