[Unit]
Description=muondetector-daemon - Daemon for custom muondetector board
Requires=pigpiod.service
BindsTo=pigpiod.service
After=pigpiod.service sockets.target

[Service]
ExecStart=/usr/bin/muondetector-daemon
ExecStop=/bin/systemctl kill muondetector-daemon
Type=simple
Restart=on-abnormal
Timeout=2

[Install]
WantedBy=multi-user.target
