[Unit]
Description=muondetector-daemon - Daemon for custom muondetector board
Requires=pigpiod.service
BindsTo=pigpiod.service
After=pigpiod.service

[Service]
Type=simple
User=muonuser
ExecStart=/usr/bin/muondetector-daemon -c
ExecStop=/bin/kill $MAINPID
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target
