Package: libmuondetector-shared
Version: 1.1.0
Maintainer: Marvin Peter <marvin.peter@physik.uni-giessen.de>
Section: net
Source: libmuondetector-shared
Homepage: https://github.com/marvin5300/muondetector
Architecture: amd64
Priority: optional
Depends: libqt5network5 (>=5), libqt5core5a (>=5)
Description: Shared library for muondetector.
 It is used for tcp connection between daemon and gui and holds important definitions.
 It is licensed under the GNU Lesser General Public License version 3 (LGPL v3).
